<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>E-Clinic </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Comforter&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Serif+4:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/234be40154.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/styles/home.css">


</head>


<body>


  <section id="navtitle">

    <div class="container-fluid">


      <nav class="navbar navbar-expand-lg  navbar-dark">






        <a class="navbar-brand col-brand" href=""> E-Clinic </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <a class="nav-link" href="#working"> Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#testimonials"> Testimonial</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact_us">Contact </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signin">Login </a>
            </li>


          </ul>
        </div>
      </nav>
      <div class="row bk">

        <div class="col-lg-6  ">
          <h1 class="head-margin">E Clinic -The healthcare consultation service. </h1>
          <h5>Consult a doctor online from anywhere, anytime!</h5>
            <button type="button but" id="but" class="btn btn-dark btn-lg but"> <i class="fa-solid fa-user-doctor"></i> Consult Now </button>
            <div class="row ">

              <div class="col-lg-4  col-md-12">

                <a class="fa-solid fa-video ck"> Video Call </a>

              </div>

              <div class="col-lg-4 col-md-12">
                <a class="fa-solid fa-lock ck"> 1:1 consultation</a>
              </div>
              <div class="col-lg-4 col-md-12">
                <a class="fa-solid fa-bolt ck"> Instant Digital Prescriptions </a>
              </div>



            </div>

            <div class="row ">

              <div class="col-lg-4 col-md-12">

                <a class="fa-solid fa-microphone ck"> Audio </a>

              </div>

              <div class="col-lg-4 col-md-12">
                <a class="fa-solid fa-certificate ck"> Certified Doctors</a>
              </div>
              <div class="col-lg-4 col-md-12">
                <a class="fa-solid fa-handshake-angle ck"> Flexible Appointments</a>
              </div>



            </div>


        </div>

        <div class="col-lg-6  ">
          <img class="im" src="\images\PicApp - Apple iPhone X.png" alt="doc">
        </div>

      </div>


    </div>

  </section>


  <section id="working">

    <div class="container-fluid">
      <h1 class="work">How it works</h1>
      <div class="row gg">

        <div class="col-lg-4">
          <i class="fas fa-hand-pointer"></i>
          <h3>Select or get doctor suggestion based on your symptoms and book appointment.</h3>

        </div>
        <div class="col-lg-4">

          <i class="fas fa-video"></i>
          <h3>Audio/ video call with a appointed doctor</h3>

        </div>
        <div class="col-lg-4">
          <i class="fas fa-pills"></i>
          <h3>Get a digital prescription & a free follow-up</h3>

        </div>

      </div>

    </div>
  </section>
  <section id="testimonials">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2 class="testimonial-text">I don't normally talk to doctors online. This is the first time and I have to say
            it was a good experience. The website is so awesome! will even recommend to my friends.</h2>

              <img class="im1"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcH-1O1vJrO7JES9PymGvX2EBW942VbepT8u_KIg9_D4zpyRobQ9O-JYvCy5HjBzfz5xQ&usqp=CAU"
                   alt="">
              <em>Lili</em>


        </div>

        <div class="carousel-item">
          <h2 class="testimonial-text">I had been to an offline doctor many times I must say the experience was almost
            similar very satisfied with the experience.
          </h2>
          <img class="im1"
               src="https://www.orbitmedia.com/wp-content/uploads/2017/03/jen-havice.png"
            alt="">
          <em>Mili</em>
        </div>

        <div class="carousel-item">
          <h2 class="testimonial-text">It's my first time consulting a doctor online.Never felt it would be this
            easy.The website is very easy to use in the sense very easy to navigate.</h2>
          <img class="im1"
               src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMCO8HRJ6FA6__UA3hHiA6ZxK9Jo4s7TvDvWUGF4scLpijuloHUh9K1lQ9wcGsBlsxxmA&usqp=CAU"
            alt="">
          <em>Lamy</em>
        </div>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </section>
  <section id="contact_us">
      <div class="container-fluid cont">


        <h1 class="work">Drop Us a Message/Grievance</h1>


        <div class="row">

<!--          <div class="col-lg-6 temp">-->
<!--            <img-->
<!--              src="https://cdn.shopify.com/s/files/1/0070/7032/files/how-to-write-an-about-us-wip1.png?format=jpg&quality=90&v=1618511825"-->
<!--              class="cimg">-->
<!--          </div>-->
          <div class="col padd">
            <form action="" method="post">
              <div class="row">

                <div class="col-md-6">

                  <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Your Email *" name="emaiil">
                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control" id="name1" placeholder="Your Name *" name="namee">
                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control" id="name2" placeholder="Your Phone Number *" name="phonee">
                  </div>

                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <textarea class="form-control" id="text-something"
                      placeholder="Feel free to drop us a suggestion/grievance"
                      style="width : 100%;height : 200px" name="queryy"></textarea>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <div class="form-group">
                    <button class="btn contbtn" type="submit">Send Message</button>
                  </div>
                </div>
                <div class="col-md-4"></div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </section>
    <footer class="f-section" id="footer">
    <div class="container-fluid">
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fa-brands fa-github"></i>
      <i class="social-icon fa-brands fa-linkedin"></i>
      <p>© Copyright 2022 E-Clinic</p>
    </div>
  </footer>


<script src="home.js" charset="utf-8"></script>


</body>

</html>
