<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Sign-Up</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Comforter&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Serif+4:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/234be40154.js" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="styles\signup.css">



</head>

<body>

  <section id="signup">

    <div class="container-fluid">
      <div class="card">
        <div class="row">
          <div class="col-lg-5 col-md-5 d-none d-md-block">

            <img class="img" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />

          </div>
          <div class="col-lg-7 col-md-7">
            <!-- user -->
            <div class="card-body one" id="body-1">

              <div class="head">
                <div class="row">
                  <div class="col-sm-3">
                    <i class="fas fa-check-circle"> <br><span>User</span> </i>
                  </div>
                  <div class="col-sm-3">
                    <i class="far fa-check-circle"><br> Credential</i>
                  </div>
                  <div class="col-sm-3">
                    <i class="far fa-check-circle"> <br>Info</i>
                  </div>
                  <div class="col-sm-3">
                    <i class="far fa-check-circle"><br> Success</i>
                  </div>
                </div>
              </div>
              <hr>

              <div class="bod-1">
                <form class="" method="post">

                  <h4>We are too excited to have you with us!</h4>

                    <div class="log">
                      <h3>Select User</h3>
                    </div>

                    <div class="row but">
                      <div class="col-6">
                        <button type="button" id="bu" class=" btn btn-dark btn-lg "><i class="fas fa-user-injured "></i>
                          Patient</button>
                      </div>
                      <div class="col-6 ">
                        <button type="button" id="but1" class="btn btn-dark btn-lg "><i class="fas fa-user-md "></i>
                          Doctor</button>

                      </div>
                    </div>

                </form>

              </div>

            </div>

            <!-- signup -->

            <div class="card-body two " id="body-2">

              <div class="head ">
                <div class="row ">
                  <div class="col-sm-3 ">
                    <i class="fas fa-check-circle "> <br><span>User</span> </i>



                  </div>
                  <div class="col-sm-3 ">
                    <i class="fas fa-check-circle "><br><span>Credential</span> </i>

                  </div>
                  <div class="col-sm-3 ">
                    <i class="far fa-check-circle "> <br>Info</i>

                  </div>
                  <div class="col-sm-3 ">

                    <i class="far fa-check-circle "><br> Success</i>
                  </div>

                </div>
              </div>
              <hr>
              <div class="bod-2 ">
                <form class=" " method="post ">



                  <div class="log ">
                    <div class="form-group ">

                      <div class="row ">
                        <div class="col-2 ">
                          <i class="fas fa-envelope ic "></i>
                        </div>
                        <div class="col-10 ">
                          <input type="email " name="email" value="" class="form-control " id="email-1" placeholder="Your Email Address " required>
                        </div>
                      </div>

                    </div>
                    <div class="form-group ">

                      <div class="row ">
                        <div class="col-2 ">
                          <i class="fas fa-lock ic "></i>
                        </div>
                        <div class="col-10 ">
                          <input type="password" name="pass1" class="form-control " id="pass-1" placeholder="Password " required>
                        </div>
                      </div>
                    </div>
                    <div class="form-group ">

                      <div class="row ">
                        <div class="col-2 ">
                          <i class="fas fa-key ic "></i>
                        </div>
                        <div class="col-10 ">
                          <input type="password" name="pass2" class="form-control" id="pass-2" placeholder="Re-Enter Password " required>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-2">

                        </div>
                        <div class="col-10" style="text-align: left;padding-left: 3%;">
                          <input type="checkbox" onclick="show_password()">
                          <h6 style="display: inline;">Show Password</h6>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="constrain ">
                    <ul>
                      <li class="list ">password should be at-least 8 character long</li>
                      <li class="list "> password should have at-least 1 uppercase and 1 lowercase character </li>
                      <li class="list "> password should have at-least 1 numeric character </li>
                    </ul>

                  </div>
                  <div class="but ">
                    <button id="but2" type="button" class="btn btn-dark btn-lg btn-block ">Next</button>
                  </div>



                </form>

              </div>

            </div>

            <!--Patient info-->
            <div class="card-body three" id="body-3">

              <div class="head">
                <div class="row">
                  <div class="col-sm-3">
                    <i class="fas fa-check-circle"> <br><span>User</span> </i>



                  </div>
                  <div class="col-sm-3">
                    <i class="fas fa-check-circle"><br><span>Credential</span> </i>

                  </div>
                  <div class="col-sm-3">
                    <i class="fas fa-check-circle"> <br><span>Info</span></i>

                  </div>
                  <div class="col-sm-3">

                    <i class="far fa-check-circle"><br> Success</i>
                  </div>

                </div>
              </div>
              <hr>
              <div class="bod-3">
                <form action="/signup" class="" method="post">
                  <div class="log">
                    <div class="form-group">

                      <div class="row ">
                        <div class="col-1">
                          <i class="bi bi-person-fill "></i>
                        </div>
                        <div class="col-10">
                          <input name="name" type="text" class="form-control" id="name" placeholder="Name" required>
                        </div>
                      </div>

                    </div>

                    <div class="form-group">

                      <div class="row ">
                        <div class="col-1">
                          <i class="bi bi-telephone-fill "></i>
                        </div>
                        <div class="col-10">
                          <input name="phno" type="text" class="form-control" id="phone" placeholder="phone number" required>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">

                      <div class="row ">
                        <div class="col-1">
                          <i class="bi bi-calendar-date-fill "></i>
                        </div>
                        <div class="col-10">
                          <input name="date" type="date" class="form-control" id="dob" placeholder="dob" required>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row ">
                        <div class="col-1">
                          <i class="fa fa-id-card " aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                          <input name="adhcard" type="text" class="form-control" id="adhar-card" placeholder="Adhar card" required>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row ">
                        <div class="col-1">
                          <i class="bi bi-people-fill "></i>
                        </div>
                        <div class="col-10">
                          <select name="gender" class="form-control" id="genderP" required>
                            <option value="none" hidden disabled selected>Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-1">
                          <i class="fa-solid fa-head-side-cough "></i>
                        </div>
                        <div class="col-10">
                          <textarea class="form-control" name="allergies" id="allergies" style="width : 100%;height : 70px" placeholder="Allergies You have"></textarea>

                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row ">
                        <div class="col-1">
                          <i class="fa-solid fa-book-medical "></i>
                        </div>
                        <div class="col-10">
                          <textarea name="history" class="form-control"  id="history" style="width : 100%;height : 70px" placeholder="Past Medical History we should know"></textarea>
                          </div>

                      </div>
                    </div>

                  </div>
                  <div class="but">
                    <button type="button" id="but-3" class="btn btn-dark btn-lg btn-block ">Next</button>
                  </div>
                </form>

              </div>
            </div>

            <!--Doctor info-->
            <div class="card-body four" id="body-4">

              <div class="head">
                <div class="row">
                  <div class="col-sm-3">
                    <i class="fas fa-check-circle"> <br><span>User</span> </i>
                  </div>
                  <div class="col-sm-3">
                    <i class="fas fa-check-circle"><br><span>Credential</span> </i>
                  </div>
                  <div class="col-sm-3">
                    <i class="fas fa-check-circle"> <br><span>Info</span></i>

                  </div>
                  <div class="col-sm-3">
                    <i class="far fa-check-circle"><br> Success</i>
                  </div>

                </div>
              </div>
              <hr>
              <div class="bod-4">
                <h4>For postgraduate medical degree holders only</h4>
                <form class="" method="post">
                  <div class="log">
                    <div class="form-group">

                      <div class="row ">
                        <div class="col-2">
                          <i class="bi bi-person-fill"></i>
                        </div>
                        <div class="col-10">
                          <input name="name" id="namedoc" type="text" class="form-control"  placeholder="Name">
                        </div>
                      </div>

                    </div>

                    <div class="form-group">

                      <div class="row ">
                        <div class="col-2">
                          <i class="bi bi-telephone-fill"></i>
                        </div>
                        <div class="col-10">
                          <input name="phno" type="text" class="form-control" id="phonenum" placeholder="phone number">
                        </div>
                      </div>
                    </div>

                    <div class="form-group">

                      <div class="row ">
                        <div class="col-2">
                          <i class="bi bi-calendar-date-fill"></i>
                        </div>
                        <div class="col-10">
                          <input name="dob" type="date" class="form-control" id="dobd" placeholder="dob">
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row ">
                        <div class="col-2">
                          <i class="bi bi-people-fill"></i>
                        </div>
                        <div class="col-10">
                          <select name="gender" class="form-control" id="genderD">
                            <option value="none" hidden disabled selected>Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>

                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row ">
                        <div class="col-1">
                          <i class="fa fa-id-card " aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                          <input name="adhcard" type="text" class="form-control" id="adhar-card-d" placeholder="Adhar card" required>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row ">
                        <div class="col-2">
                          <i class="fa-solid fa-user-graduate"></i>
                        </div>
                        <div class="col-10">
                          <input name="qualification" type="text" class="form-control" id="qualification" placeholder="Qualification">

                        </div>
                      </div>
                    </div>


                    <div class="form-group">
                      <div class="row">
                        <div class="col-2">
                          <i class="bi bi-file-diff-fill"></i>
                        </div>
                        <div class="col-10">
                          <select name="department" id="department" class="form-control">
                            <option value="" hidden selected disabled>Departments</option>
                            <option value="gp">General physician</option>
                            <option value="Dermatology">Dermatology</option>
                            <option value="mw">Mental wellness</option>
                            <option value="gy">Gynecology</option>
                            <option value="Pediatrics">Pediatrics</option>
                            <option value="ent">ENT</option>
                            <option value="orthopedics">Orthopedics</option>
                            <option value="Cardiology">Cardiology</option>
                            <option value="Diabetology">Diabetology</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-2">
                          <i class="fa-solid fa-book-medical"></i>
                        </div>
                        <div class="col-10">
                          <select name="experience" id="exp" class="form-control">
                            <option value="" hidden selected disabled>Select Experience</option>
                            <option value="1y">1 year</option>
                            <option value="2y">2 Years</option>
                            <option value="3y">3 Years</option>
                            <option value="4y">4 Years </option>
                            <option value="5y">5 Yeats</option>
                            <option value="6y">6 Years</option>
                            <option value="7y">7 Years</option>
                            <option value="8y">8 Years</option>
                            <option value="9y">8+ Years</option>
                          </select>
                        </div>

                      </div>
                    </div>


                  </div>

                  <div class="but">
                    <button type="button" id="but-4" class="btn btn-dark btn-lg btn-block ">Next</button>
                  </div>
                </form>
              </div>



            </div>

            <!--Success patient-->
            <div class="card-body five" id="body-5">

              <div class="head">
                <div class="row">
                  <div class="col-sm-3">
                    <i class="fas fa-check-circle"> <br><span>User</span> </i>



                  </div>
                  <div class="col-sm-3">
                    <i class="fas fa-check-circle"><br> <span>Credential</span></i>

                  </div>
                  <div class="col-sm-3">
                    <i class="fas fa-check-circle"> <br><span>Info</span></i>

                  </div>
                  <div class="col-sm-3">

                    <i class="fas fa-check-circle"><br><span>Success</span></i>
                  </div>

                </div>
              </div>
              <hr>
              <div class="bod-5">

                <h2>

                  Thanks for your time!!
                  <br>
                  <a href="/signin">  Click on the link to login</a>


                  <br>




                </h2>

              </div>
            </div>



            <!--Success Doctor-->
            <div class="card-body six" id="body-6">

              <div class="head">
                <div class="row">
                  <div class="col-sm-3">
                    <i class="fas fa-check-circle"> <br><span>User</span> </i>



                  </div>
                  <div class="col-sm-3">
                    <i class="fas fa-check-circle"><br> <span>Credential</span></i>

                  </div>
                  <div class="col-sm-3">
                    <i class="fas fa-check-circle"> <br><span>Info</span></i>

                  </div>
                  <div class="col-sm-3">

                    <i class="fas fa-check-circle"><br><span>Success</span></i>
                  </div>

                </div>
              </div>
              <hr>
              <div class="bod-6">

                <h2>

                  Thanks for your time!!
                  <br>
                  We will get back to you soon on
                  <br>
                  <p id="email-3"></p>


                </h2>

              </div>
            </div>


          </div>








        </div>

      </div>


    </div>

  </section>
  <script src="\index.js " charset="utf-8 "></script>
</body>

</html>
